# CRM Configuration (Secret server-side only)
CRM_TOKEN=AFF_1_92cbc1bc76284e19b711bab22587d75f
CRM_URL=https://inwo.crmcore.me/api/lead_management/api/affiliates

# Vercel Blob Configuration (Secret server-side only)
BLOB_READ_WRITE_TOKEN=your_vercel_blob_token_here
